:root{
    --blue-brand:#41336E;
    --red-brand:#E52E2A;
    --black-brand:#333333;
    
    /* FONTS */

    --title-font: 'Lato', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
}
html{

}
body{
    background-color: #E8E8E8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1% 13%;
    align-items: center;
    background: #efefef;
    position: fixed;
    z-index: 999;
}

.logo{
    width: 15%;
}

.links_header_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
}

.links_header_container .link{
    text-decoration: none;
    font-size: 0.9rem;
    font-family: var(--title-font);
    color: var(--red-brand);
    /* border-bottom: var(--blue-brand) solid .1875rem; */
    font-weight: 700;
    letter-spacing: 0.4px;
    margin: 0 2%;
}

/* BOOKING FORM */

.booking_container{
    width: 100%;
    margin: 0% auto 0;
    background: url(../img/backgrounds/clouds.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 5% 0;
}


.title_content h1{
    width: 60%;
    margin: 10% auto 0;
    text-align: center;
    font-size: 1.25rem;
    font-family: var(--paragraph-font);
    color: var(--red-brand);
    font-weight: 900;
    border-bottom: var(--black-brand) solid .1875rem;
}

.title_content h1 span{
    color: var(--blue-brand);
}

/* POSITION INPUTS */
.position_typebooking_excursions{
    display: flex;
    justify-content: center;
    padding: 0 20%;
    flex-direction: row;
    margin: 4% 0;
}
.position_from_stop_to{
    display: flex;
    text-align: center;
    flex-direction: row;
    margin: 5% 0;
    justify-content: center;
    
}

.position_date_amountperson{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 0 3%;
}
/* END */

.booking_content{
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(8px);
    width: 70%;
    margin: 3% auto 0;
    border-radius: 10px;
    padding: 10px 0;
}


.booking_content select, .select{
    width: 180px;
    height: 34px;
    /* padding: 6px 5.25rem; */
    text-align: center;
    border: none;
    background: #E0E0E0;
    border: var(--black-brand) solid 0.5px;
}

.select_from select, .select_to select{
    width: 250px;
    text-align: center;
    
}

.select_from, .select_to, .select_arrivaldate, .select_amount_person, .select_booking_type, .select_excursion{
    margin: 0 2%;
}


.booking_content h3{
    font-size: 13px;
    font-family: var(--paragraph-font);
    color: var(--black-brand);
}


.select_excursion{
    text-align: center;
}

/* Error presentation indicating the amount of persons */
.booking_content #passengersContainer p {
    color: #E52E2A;
    text-align: center;
    font-weight: bold;
}

.booking_content .select_via{
    text-align: center;
    margin-top: 3%;
}

.booking_content .select_via label{
    font-size: 1rem;
}

.booking_content .select_via .option_input{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.booking_content .select_via .option_tracks{
    margin: 0 10px;

}

/* TITLE CARS */

.tittle_select_car{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10% 0 5%;
}

.tittle_select_car h1{
    font-size: 19px;
    font-family: var(--title-font);
    color: var(--black-brand);
    border-bottom: var(--blue-brand) solid 3px;
    padding: 0 2%;
}

.tittle_select_car h1 span{
    color: var(--black-brand);
}

/* CAR SELECT */

.car_content{
    width: 70%;
    display: flex;
    flex-direction: row;
    border-radius: 2px;
    background: rgb(220, 220, 220);
    box-shadow: 2px 5px 10px -5px;
    margin: 3% auto 0;
    position: relative;
}


.position_brandname_alert{
    width: 70%;
    display: flex;
    flex-direction: column;
}

.car_content img{
    width: 25%;
    
    margin: 0 5%;
}


.chevrolet_car{
    width: 25%;
    background-image: url(../img/cars/chevrolet.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 5%;
    /* margin-top: 4%; */
}

.limosina_car{
    width: 25%;
    background-image: url(../img/cars/limusina.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 5%;
    margin-top: 4%;
}

.mercedes_car{
    width: 25%;
    background-image: url(../img/cars/mercedes.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    left: 5%;
}

.name_car{
    width: 100%;
    font-size: 22px;
    font-family: var(--title-font);
    font-weight: 800;
    color: var(--blue-brand);
    margin: 5% 0 0 15%;
}

.car_content .alert{
    width: 40%;
    margin: 5% 0 0 15%;
}

.car_content .alert p{
    text-align: center;
    font-size: 12px;
    font-family: var(--paragraph-font);
    margin: 0 0 20% 0;
}
.car_content .alert p i{
    margin: 0 2% 0 0;
    color: var(--red-brand);
}

.btn_select_content{
    position: absolute;
    right: 7%;
    top: 40%;
}
    .btn_select_content button:hover{
        background: #e52d2a00;
        border: var(--red-brand) solid 2px;
        color: var(--red-brand);
        transition: all .2s ease-in-out;
    }

.btn_select_content button{
    border: none;
    background: var(--red-brand);
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 13px;
    font-family: var(--title-font);
    font-weight: 800;
    color: #fff;
    box-shadow: 3px 3px 4px -1px var(--black-brand);
}

.tobook_content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10% 0;
}
    .tobook_content .btn_tobook:hover{
        background: #fff0;
        border: var(--red-brand) solid 3px;
        color: var(--red-brand);
        transform: scale(1.02,1.02);
        transition: all .2s ease-in-out;
    }

.btn_tobook{
    border: none;
    background: var(--blue-brand);
    padding: 10px 20px;
    border-radius: 25px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-family: var(--title-font);
}

.alert-booking{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 0;
    width: 30%;
    height: 70px;
    position: fixed;
    z-index: 80;
}

.alert-booking .content-one{
    box-shadow: 8px 8px 10px -7px var(--black-brand);
    width:25%;
    background: #d4544f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    border-radius: 5px 0 0 5px;
}

.alert-booking .content-two{
    background: rgb(219, 219, 219);
    box-shadow: 8px 8px 10px -7px var(--black-brand);
    border-radius: 0 5px 5px 0;
    font-size: 12px;
    font-family: var(--paragraph-font);
    width: 70%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.car_selected_border{
    border: green solid 3px;
}

/* CONTACT US ZONE */

.title_contact_us{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10% 0 5%;
}

.title_contact_us h2{
    font-size: 1.45rem;
    font-family: var(--title-font);
    font-weight: 700;
    border-bottom: var(--black-brand) solid 3px;
    color: var(--black-brand);
}

.banner_contacts{
    margin: 0 0 6% 5%;
    
}

.banner_contacts img{
    width: 55%;
    box-shadow: 7px 7px 10px -7px var(--black-brand);
} 
    .banner_contacts img:hover{
        transform: scale(1.1,1.1);
        transition: all .3s ease-out;
    }

.location{
    display: flex;
    justify-content: flex-end;
    margin: 0 5% 0 0;
}

.location iframe{
    width: 60%;
    box-shadow: -7px -7px 10px -7px var(--black-brand);
    
}

.location iframe:hover{
    transform: scale(1.1,1.1);
    transition: all .3s ease-out;
}




/* END */