:root{
    --blue-brand:#41336E;
    --red-brand:#E52E2A;
    --black-brand:#333333;
    
    /* FONTS */

    --title-font: 'Lato', sans-serif;
    --paragraph-font: 'Open Sans', sans-serif;
}
body{
    background-color: #E8E8E8;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 1% 13%;
    align-items: center;
    background: #efefef88;
    /* position: absolute; */
}

.logo{
    width: 15%;
}

.links_header_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;
}

.links_header_container .link{
    text-decoration: none;
    font-size: 0.9rem;
    font-family: var(--paragraph-font);
    color: var(--blue-brand);
    border-bottom: var(--blue-brand) solid .1875rem;
    margin: 0 2%;
}

/* BOOKING FORM */

.booking_container{
    width: 90%;
   margin: 6% auto 0;
}


.title_content{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    font-size: .875rem;
    font-family: var(--paragraph-font);
    color: var(--red-brand);
    font-weight: 900;
    border-bottom: var(--black-brand) solid .1875rem;
}

.title_content span{
    color: var(--blue-brand);
}

/* POSITION INPUTS */
 .booking_content .position_from_to{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
 }
 .booking_content .position_date_people{
    width: 60%;
    margin: 6% auto 2%;
    display: flex;
    justify-content: space-between;
 }

 .booking_content .position_via{
    width: 40%;
    margin: 2% auto 2%;
    display: flex;
    text-align: start;
    justify-content: center;
 }
/* END */

.booking_content .input_container{
    font-size: .875rem;
    font-family: var(--title-font);
    font-weight: 400;
}

.booking_content .input_container select, .select{
    width: 100%;
    height: 80%;
    padding: 0 5.25rem;
    text-align: center;
    border: none;
    background: #E0E0E0;
    border: var(--black-brand) solid 0.5px;
}

.booking_content .select_via{
    text-align: center;
}

.booking_content .select_via label{
    font-size: 1rem;
}

.booking_content .select_via .optiom_input{
    display: flex;
    flex-direction: row;
}

.booking_content .select_via .option_tracks{
    margin: 0 10px;

}

/* CAR SELECT */

.car_content{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 2px;
    background: rgb(199, 199, 199);
    box-shadow: 2px 5px 10px -5px;
    margin: 10% 0;
    position: relative;
}

.car_content img{
    width: 25%;
    
    
}

.name_car{
    text-align: center;
    font-size: 22px;
    font-family: var(--title-font);
    font-weight: 800;
    color: var(--blue-brand);

}

.car_content .alert{
    width: 40%;
    position: absolute;
    bottom: 0;
    margin: 0 0 2% 0
}

.car_content .alert p{
    text-align: center;
    font-size: 12px;
    font-family: var(--paragraph-font);
}
.car_content .alert p i{
    margin: 0 2% 0 0;
    color: var(--red-brand);
}