.slider{
    width: 70%;
    height: 100%;
    overflow: hidden;
    margin: 3% 0 0 0;
  }
  .slider ul{
      display: flex;
      animation: cambio 20s infinite alternate linear;
      width: 400%;
  }
  .slider li{
      width: 100%;
      list-style: none;
  }

  .slider ul li{
    width: 100%;
    height: 200px;
    
}


.slider ul .photo-1{
    background: url(../img/cars/mini-bus/mini-b-1.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  .slider ul .photo-2{
      background: url(../img/cars/mini-bus/mini-b-2.jpeg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

  }
  .slider ul .photo-3{
      background: url(../img/cars/mini-bus/mini-b-3.jpeg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

  }
  .slider ul .photo-4{
      background: url(../img/cars/mini-bus/mini-b-4.jpeg);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

  }
  @keyframes cambio{
      0%{margin-left: 0;}
      20%{margin-left: 0;}
      
      25%{margin-left: -100%;}
      50%{margin-left: -100%;}
      
      55%{margin-left: -200%;}
      70%{margin-left: -200%;}
      
      75%{margin-left: -300%;}
      100%{margin-left: -300%;}
  }


  